---
import { Icon } from 'astro-icon/components'
---

<a href="#hero" class="flex items-center space-x-3">
  <Icon name="toolsIcon" class="w-8 h-8" />
  <span class="text-2xl font-bold tracking-wide text-[var(--header-text)]">Сантехник Казань</span>
</a>